<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    Index of Tasks
    <ul>
        <% foundBullets.forEach((bullet) => { %>
            <li>
                <form method="POST" action="/bullets/<%= bullet.id %>?_method=DELETE">
                    <%=bullet.task%> <button>DELETE</button>
                </form>
                    
            </li>
        <% }) %>
    </ul>

</body>
</html>