<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    Index of Tasks
    <ul>
        <% foundBullets.forEach((bullet) => { %>
            <li><%=bullet.task%></li>
        <% }) %>
    </ul>

</body>
</html>