<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Add new item</h1>
    <form method="POST" action="/bullets">
        <input type="text" name="task">
        <button>Add it!</button>
    </form>
</body>
</html>